<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.may.mapper.DepartmentMapper">
    <select id="queryAll" resultType="com.may.pojo.Department">
        select * from test01.department
    </select>
    <select id="query" resultType="com.may.pojo.Department" parameterType="int">
        select * from test01.department where id = #{id}
    </select>
</mapper>